@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);

*, h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
}

.main {
  height: 2000px;
}

.big-gear {
  position: fixed;
  top: -250px;
  left: -250px;
  width: 35%;
  height: auto;
}

.little-gear {
  position: fixed;
  top: 176px;
  left: 53px;
}