@import url(https://fonts.googleapis.com/css?family=Work+Sans);

/*top-level styles*/

* {
  font-family: 'Work Sans', sans-serif;
}

a {
  color: #FF9900;
  text-decoration: none;
  transition: 0.5s;
}

a:hover {
  color: black;
  opacity: 0.5;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 27px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}

line {
  stroke: #fff;
  stroke-width: 2;
  transition: stroke 0.5s;
}

p {
  font-size: 17px;
}

section:after {
  content: '';
  background-image: url('../images/backgrounds/gplay.png');
  display: block;
  width: 100%;
  height: 50px;
}

small {
  font-size: 10px;
}

td {
  vertical-align: middle;
}

/*class styles*/

.exp-images {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.exp-images td {
  width: 50%;
}

.hide {
  display: none;
}

.logo {
  width: 50px;
  position: fixed;
}

.logo img {
  width: 100%;
  height: auto;
}

.logo-presenter {
  width: 100%;
  height: 100%;
}

.logo-presenter td {
  text-align: center;
}

.me {
  width: 300px;
  height: 300px;
  background-image: url('../images/me.jpg');
  margin-left: auto;
  margin-right: auto;
  border: 1px solid gray;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  background-size: contain;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.subheader {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.title {
  text-align: center;
}

h1.title {
  margin-bottom: 0;
}

h3.title {
  margin-top: 0;
}

.tn-lg {
  position: relative;
  left: -20px;
}

.tn-sm {
  text-align: center;
}

.text-centered {
  text-align: center;
}

/*section-specific styles*/

#tech a {
  color: black;
}

#tech a:hover {
  color: #FF9900;
}